<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="lbar.toggle()">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">menu</mat-icon>
      <span>Times</span>
    </button>
    <span class="example-spacer"></span>
    <span class="title">Sherlock Holmes - Consluente Investigativo</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="rbar.toggle()">
      <span>Annuario</span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer class="sidebar-wide" #lbar mode="over" opened>
    <img *ngFor="let time of times" src="{{time.url}}" width="240" (click)="show('The Times', time.url, 900)">
  </mat-drawer>
  <mat-drawer class="sidebar" #rbar position="end" mode="over" opened>
    <img *ngFor="let ann of annuario" src="{{ann.url}}" width="280" (click)="show('Annuario', ann.url, 800)">
  </mat-drawer>
  <mat-drawer-content>
    <div id="map">MAP</div>
  </mat-drawer-content>
</mat-drawer-container>

