@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$app-accent: mat.define-palette(mat.$grey-palette, 500, 200, 800);
$app-warn: mat.define-palette(mat.$red-palette);

$app-typography: mat.define-typography-config(
  $font-family: 'Cinzel, "Helvetica Neue", sans-serif',
);

$app-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: $app-typography,
  density: 0,
));

$app-alt-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: $app-typography,
  density: 0,
));

@include mat.all-component-themes($app-theme);

.theme-alternate {
  @include mat.all-component-colors($app-alt-theme);
}

@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Cinzel:300,400,500');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  --primary-color: #644b13;
  --primary-lighter-color: #d1c9b8;
  --primary-darker-color: #48330b;
  --accent-color: #a19476;
  --accent-lighter-color: #e3dfd6;
  --accent-darker-color: #857759;
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}
