<h1 mat-dialog-title>{{ 'gameInfo.title' | translate }}</h1>
<div mat-dialog-content>
    <p>{{ 'gameInfo.body' | translate }}</p>
    <p>{{ 'gameInfo.distributed_by' | translate }} <a mat-stroked-button href="https://www.asmodee.it/giochi_sherlock.php"
        target="_blank">Asmodee</a></p>
    <p>{{ 'gameInfo.contents' | translate }}</p>
    <ul>
    <li><a mat-stroked-button href="https://www.asmodee.it/giochi/SHCI/SHCI_C1_regolamento.pdf" target="_blank">{{ 'gameInfo.rules' | translate }}</a></li>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'common.ok' | translate }}</button>
</div>
